body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 1280px;
  height: 800px;
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  margin: 0 auto;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto; 
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.mainpage {
  display: block;
  margin: 0 auto;
  position: relative;
}

.textarea {
  position: relative;
  text-align: center;
  vertical-align: center; 
  top: 300px;
}

.wordnik {
  position: relative;
  top: 600px;
}

.letter {
  height: 100px;
  line-height: 100px;
  color: #ffffff;
  width: 100px;
  display: inline-block;
  background: #000000;
  margin: 0 5px;
  font-size: 75px;
}